USE [master]
GO
/****** Object:  Database [E_Trgovina]    Script Date: 21.8.2025. 20:41:31 ******/
CREATE DATABASE [E_Trgovina]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'E_Trgovina', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\E_Trgovina.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'E_Trgovina_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\E_Trgovina_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [E_Trgovina].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [E_Trgovina]
GO
/****** Object:  User [DESKTOP-UC27NGG\Windows 11]    Script Date: 21.8.2025. 20:41:32 ******/
CREATE USER [DESKTOP-UC27NGG\Windows 11] FOR LOGIN [DESKTOP-UC27NGG\Windows 11] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [DESKTOP-UC27NGG\Windows 11]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [DESKTOP-UC27NGG\Windows 11]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [DESKTOP-UC27NGG\Windows 11]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [DESKTOP-UC27NGG\Windows 11]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [DESKTOP-UC27NGG\Windows 11]
GO
ALTER ROLE [db_datareader] ADD MEMBER [DESKTOP-UC27NGG\Windows 11]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [DESKTOP-UC27NGG\Windows 11]
GO
ALTER ROLE [db_denydatareader] ADD MEMBER [DESKTOP-UC27NGG\Windows 11]
GO
ALTER ROLE [db_denydatawriter] ADD MEMBER [DESKTOP-UC27NGG\Windows 11]
GO
/****** Object:  Table [dbo].[Adrese]    Script Date: 21.8.2025. 20:41:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Adrese](
	[AdresaID] [int] IDENTITY(1,1) NOT NULL,
	[Ulica] [nvarchar](200) NOT NULL,
	[GradID] [int] NULL,
	[KupacID] [int] NULL,
	[ZaposlenikID] [int] NULL,
	[ProizvodjacID] [int] NULL,
	[DostavaID] [int] NULL,
 CONSTRAINT [PK_Adresa] PRIMARY KEY CLUSTERED 
(
	[AdresaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dostave]    Script Date: 21.8.2025. 20:41:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dostave](
	[DostavaID] [int] IDENTITY(1,1) NOT NULL,
	[NarudzbaID] [int] NULL,
	[StatusDostave] [nvarchar](20) NOT NULL,
	[DatumSlanja] [datetime] NULL,
	[DatumDostave] [datetime] NULL,
 CONSTRAINT [PK_Dostava] PRIMARY KEY CLUSTERED 
(
	[DostavaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Drzave]    Script Date: 21.8.2025. 20:41:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Drzave](
	[DrzavaID] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [nvarchar](100) NOT NULL,
	[SifraDrzave] [nvarchar](10) NULL,
	[PozivniBroj] [nvarchar](10) NULL,
	[Kontinent] [nvarchar](50) NULL,
 CONSTRAINT [PK_Drzava] PRIMARY KEY CLUSTERED 
(
	[DrzavaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Naziv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[SifraDrzave] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gradovi]    Script Date: 21.8.2025. 20:41:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gradovi](
	[GradID] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [nvarchar](100) NOT NULL,
	[PostanskiBroj] [nvarchar](50) NULL,
	[DrzavaID] [int] NULL,
 CONSTRAINT [PK_Grad] PRIMARY KEY CLUSTERED 
(
	[GradID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kupci]    Script Date: 21.8.2025. 20:41:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kupci](
	[KupacID] [int] IDENTITY(1,1) NOT NULL,
	[Ime] [nvarchar](50) NOT NULL,
	[Prezime] [nvarchar](50) NOT NULL,
	[JMBG] [nvarchar](13) NULL,
	[BrojTelefona] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Kupac] PRIMARY KEY CLUSTERED 
(
	[KupacID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[JMBG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Narudzbe]    Script Date: 21.8.2025. 20:41:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Narudzbe](
	[NarudzbaID] [int] IDENTITY(1,1) NOT NULL,
	[KupacID] [int] NULL,
	[ZaposlenikID] [int] NULL,
	[DatumNarudzbe] [datetime] NULL,
	[Status] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Narudzba] PRIMARY KEY CLUSTERED 
(
	[NarudzbaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Placanja]    Script Date: 21.8.2025. 20:41:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Placanja](
	[PlacanjeID] [int] IDENTITY(1,1) NOT NULL,
	[NarudzbaID] [int] NULL,
	[DatumPlacanja] [datetime] NULL,
	[Iznos] [decimal](10, 2) NOT NULL,
	[NacinPlacanja] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Placanje] PRIMARY KEY CLUSTERED 
(
	[PlacanjeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proizvodi]    Script Date: 21.8.2025. 20:41:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proizvodi](
	[ProizvodID] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [nvarchar](100) NOT NULL,
	[Cijena] [decimal](10, 2) NOT NULL,
	[NaStanju] [int] NOT NULL,
	[DatumProizvodnje] [date] NOT NULL,
	[ProizvodjacID] [int] NULL,
	[VrstaProizvodaID] [int] NULL,
	[Slika] [varbinary](max) NULL,
 CONSTRAINT [PK_Proizvod] PRIMARY KEY CLUSTERED 
(
	[ProizvodID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proizvodjaci]    Script Date: 21.8.2025. 20:41:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proizvodjaci](
	[ProizvodjacID] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[BrojTelefona] [nvarchar](20) NULL,
 CONSTRAINT [PK_Proizvodjac] PRIMARY KEY CLUSTERED 
(
	[ProizvodjacID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recenzije]    Script Date: 21.8.2025. 20:41:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recenzije](
	[RecenzijaID] [int] IDENTITY(1,1) NOT NULL,
	[KupacID] [int] NULL,
	[ProizvodID] [int] NULL,
	[Ocjena] [int] NOT NULL,
	[Komentar] [nvarchar](255) NULL,
	[DatumRecenzije] [datetime] NULL,
 CONSTRAINT [PK_Recenzija] PRIMARY KEY CLUSTERED 
(
	[RecenzijaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StavkeNarudzbe]    Script Date: 21.8.2025. 20:41:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StavkeNarudzbe](
	[StavkaID] [int] IDENTITY(1,1) NOT NULL,
	[NarudzbaID] [int] NULL,
	[ProizvodID] [int] NULL,
	[Kolicina] [int] NOT NULL,
	[Popust] [decimal](5, 2) NULL,
 CONSTRAINT [PK_StavkeNarudzbe] PRIMARY KEY CLUSTERED 
(
	[StavkaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VrsteProizvoda]    Script Date: 21.8.2025. 20:41:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VrsteProizvoda](
	[VrstaProizvodaID] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_VrstaProizvoda] PRIMARY KEY CLUSTERED 
(
	[VrstaProizvodaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Naziv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Zaposlenici]    Script Date: 21.8.2025. 20:41:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zaposlenici](
	[ZaposlenikID] [int] IDENTITY(1,1) NOT NULL,
	[Ime] [nvarchar](50) NOT NULL,
	[Prezime] [nvarchar](50) NOT NULL,
	[JMBG] [nvarchar](13) NULL,
	[BrojTelefona] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NOT NULL,
	[DatumRodjenja] [date] NULL,
	[DatumZaposlenja] [date] NULL,
	[DatumOtkaza] [date] NULL,
	[Slika] [varbinary](max) NULL,
 CONSTRAINT [PK_Zaposlenik] PRIMARY KEY CLUSTERED 
(
	[ZaposlenikID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[JMBG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Narudzbe] ADD  DEFAULT (getdate()) FOR [DatumNarudzbe]
GO
ALTER TABLE [dbo].[Placanja] ADD  DEFAULT (getdate()) FOR [DatumPlacanja]
GO
ALTER TABLE [dbo].[Recenzije] ADD  DEFAULT (getdate()) FOR [DatumRecenzije]
GO
ALTER TABLE [dbo].[Adrese]  WITH CHECK ADD FOREIGN KEY([DostavaID])
REFERENCES [dbo].[Dostave] ([DostavaID])
GO
ALTER TABLE [dbo].[Adrese]  WITH CHECK ADD FOREIGN KEY([GradID])
REFERENCES [dbo].[Gradovi] ([GradID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Adrese]  WITH CHECK ADD FOREIGN KEY([KupacID])
REFERENCES [dbo].[Kupci] ([KupacID])
GO
ALTER TABLE [dbo].[Adrese]  WITH CHECK ADD FOREIGN KEY([ProizvodjacID])
REFERENCES [dbo].[Proizvodjaci] ([ProizvodjacID])
GO
ALTER TABLE [dbo].[Adrese]  WITH CHECK ADD FOREIGN KEY([ZaposlenikID])
REFERENCES [dbo].[Zaposlenici] ([ZaposlenikID])
GO
ALTER TABLE [dbo].[Dostave]  WITH CHECK ADD FOREIGN KEY([NarudzbaID])
REFERENCES [dbo].[Narudzbe] ([NarudzbaID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Gradovi]  WITH CHECK ADD FOREIGN KEY([DrzavaID])
REFERENCES [dbo].[Drzave] ([DrzavaID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Narudzbe]  WITH CHECK ADD FOREIGN KEY([KupacID])
REFERENCES [dbo].[Kupci] ([KupacID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Narudzbe]  WITH CHECK ADD FOREIGN KEY([ZaposlenikID])
REFERENCES [dbo].[Zaposlenici] ([ZaposlenikID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Placanja]  WITH CHECK ADD FOREIGN KEY([NarudzbaID])
REFERENCES [dbo].[Narudzbe] ([NarudzbaID])
GO
ALTER TABLE [dbo].[Proizvodi]  WITH CHECK ADD FOREIGN KEY([ProizvodjacID])
REFERENCES [dbo].[Proizvodjaci] ([ProizvodjacID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Proizvodi]  WITH CHECK ADD FOREIGN KEY([VrstaProizvodaID])
REFERENCES [dbo].[VrsteProizvoda] ([VrstaProizvodaID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Recenzije]  WITH CHECK ADD FOREIGN KEY([KupacID])
REFERENCES [dbo].[Kupci] ([KupacID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Recenzije]  WITH CHECK ADD FOREIGN KEY([ProizvodID])
REFERENCES [dbo].[Proizvodi] ([ProizvodID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StavkeNarudzbe]  WITH CHECK ADD FOREIGN KEY([NarudzbaID])
REFERENCES [dbo].[Narudzbe] ([NarudzbaID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StavkeNarudzbe]  WITH CHECK ADD FOREIGN KEY([ProizvodID])
REFERENCES [dbo].[Proizvodi] ([ProizvodID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Dostave]  WITH CHECK ADD CHECK  (([StatusDostave]='Vraćeno' OR [StatusDostave]='Dostavljeno' OR [StatusDostave]='Na putu' OR [StatusDostave]='U pripremi'))
GO
ALTER TABLE [dbo].[Narudzbe]  WITH CHECK ADD CHECK  (([Status]='Otkazano' OR [Status]='Dostavljeno' OR [Status]='Poslano' OR [Status]='Obrada' OR [Status]='Na čekanju'))
GO
ALTER TABLE [dbo].[Placanja]  WITH CHECK ADD CHECK  (([Iznos]>(0)))
GO
ALTER TABLE [dbo].[Placanja]  WITH CHECK ADD CHECK  (([NacinPlacanja]='Gotovina' OR [NacinPlacanja]='Bankovni transfer' OR [NacinPlacanja]='PayPal' OR [NacinPlacanja]='Kartica'))
GO
ALTER TABLE [dbo].[Proizvodi]  WITH CHECK ADD CHECK  (([Cijena]>(0)))
GO
ALTER TABLE [dbo].[Proizvodi]  WITH CHECK ADD CHECK  (([NaStanju]>=(0)))
GO
ALTER TABLE [dbo].[Recenzije]  WITH CHECK ADD CHECK  (([Ocjena]>=(1) AND [Ocjena]<=(5)))
GO
ALTER TABLE [dbo].[StavkeNarudzbe]  WITH CHECK ADD CHECK  (([Kolicina]>=(0)))
GO
ALTER TABLE [dbo].[StavkeNarudzbe]  WITH CHECK ADD CHECK  (([Popust]>=(0) AND [Popust]<=(100)))
GO
USE [master]
GO
